{% extends 'main/base.html' %}


{% block title %}Create New Game{% endblock %}

{% block content %}
<h1>Create Game</h1>

<div class="row">

    <div class="col-6">

        <form class="d-flex flex-column gap-2" action="{% url 'games:create_game_view' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" placeholder="Title" name="title" class="form-control" />
            <textarea placeholder="Description" name="description" class="form-control"></textarea>
            <input type="text" placeholder="Publisher" name="publisher" class="form-control" />
            <select class="form-select" name="rating">
                <option selected>Rating</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="4">Four</option>
                <option value="5">Five</option>
              </select>

            <label>Poster:</label>
            <input type="file" name="poster"  class="form-control" accept="image/*"/>
            <input type="date" name="release_date" class="form-control"/>

            <input type="submit" value="Create Game" class="btn btn-primary" />

        </form>


    </div>

</div>

{% endblock %}