<!DOCTYPE html>
<html lang="en" {% if 'font' in  request.COOKIES %} class="large" {% endif %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="/static/css/style.css" rel="stylesheet" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <div class="wrapper">
        <nav>
            <a href="/"><strong class="logo">Theme Store</strong></a>

            <div class="right-nav">
                <a href="">Home</a>
                <a href="">About</a>
                <a href="">Services</a>
                <a href="">How it Works</a>
                <a href="{% url 'main:contact_view' %}">Contact</a>
                <button class="btn">Try for Free</button>
            </div>
        </nav> <!-- End Nav -->

        <main>
            {% block content %}

            {% endblock %}
        </main>


        <footer>
            <div class="container">
                <a href="#">Home</a>
                <a href="#">Contact Us</a>
                <a href="#">Our Themes</a>
            </div>

            <div>
                All Rights Reserved.
            </div>

            <div class="container">
                <h3>Font</h3>
                <div class="font-icons-container">
                    <a href="{% url 'main:normal_font_view' %}"><span class="material-symbols-outlined {% if not 'font' in request.COOKIES %} active-icon {% endif %}">format_size</span></a>
                    <a href="{% url 'main:large_font_view' %}"><span class="material-symbols-outlined large-icon {% if 'font' in request.COOKIES %} active-icon {% endif %}">format_size</span></a>
                </div>
            </div>

        </footer>


    </div> <!-- End Wrapper -->
    
</body>
</html>